@model SeminarPart
@{
    ViewData["Title"] = "EditSeminarPart";
}
    <form action="" method="post">
        <!-- Accordion card -->
        <div class="card">
            <!-- Card header -->
            <div class="card-header" role="tab" id="headingSeminarPartsWrapper">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#SeminarPartsWrapper"
                   aria-expanded="false" aria-controls="SeminarPartsWrapper">
                    <h5 class="mb-0">
                        <label asp-for="Parts"></label>
                        <i class="fas fa-angle-down rotate-icon"></i>
                    </h5>
                </a>
            </div>

            <!-- Card body -->
            <div id="SeminarPartsWrapper" class="collapse" role="tabpanel" aria-labelledby="headingTwo21"
                 data-parent="#accordionEx1">
                <div class="card-body partsRoot" id="partsRoot">
                    <button class="btn btn-sm btn-primary add-seminar-part">Add part</button>
                    @if (Model.Parts != null)
                    {
                        for (var i = 0; i < Model.Parts.Count(); i++)
                        {
                            <div class="card-body">
                                <div class="form-group">
                                    <input id="seminar.Parts[@i].Name" name="seminar.Parts[@i].Name" class="form-control" type="text" />
                                </div>
                            </div>
                        }
                    }

                </div>
            </div>
        </div>


    </form>

<!-- Accordion card -->