@model Seminar
@{
    ViewBag.Title = "Edit Product";
    Layout = "_AdminLayout";
}
@section HeadSection{
    <link rel="stylesheet" asp-href-include="~/lib/froala-wysiwyg-editor/css/froala_editor.pkgd.min.css" />
}

<form asp-action="Edit" method="post" class="my-4">
    <input type="hidden" asp-for="Id" />

    <div class="card">
        <div class="card-header">
            <div class="form-group">
                <input asp-for="Name" class="form-control" placeholder="name" />
            </div>
        </div>
        <div class="card-body">
            <!--Accordion wrapper-->
            <div class="accordion md-accordion" id="accordionEx1" role="tablist" aria-multiselectable="true">

                <div class="" role="tab" id="headingTwo1">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo1"
                       aria-expanded="false" aria-controls="collapseTwo1">
                        <label class="mb-0" asp-for="Slug"></label>
                        <i class="fas fa-angle-down "></i>
                    </a>
                </div>
                <div id="collapseTwo1" class="collapse" role="tabpanel" aria-labelledby="headingTwo1"
                     data-parent="#accordionEx1">
                    <div class="form-group">
                        <input asp-for="Slug" class="form-control" />
                    </div>
                </div>

                <div class="" role="tab" id="headingTwo2">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo21"
                       aria-expanded="false" aria-controls="collapseTwo21">
                        <label class="mb-0" asp-for="Excerpt"></label>
                        <i class="fas fa-angle-down "></i>
                    </a>
                </div>
                <div id="collapseTwo21" class="collapse" role="tabpanel" aria-labelledby="headingTwo21"
                     data-parent="#accordionEx1">
                    <div class="">
                        <div class="form-group">
                            <textarea asp-for="Excerpt" class="form-control" rows="5">@Model.Excerpt</textarea>
                        </div>
                    </div>
                </div>

                <div class="" role="tab" id="headingThree31">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseThree31"
                       aria-expanded="false" aria-controls="collapseThree31">
                        <label class="mb-0" asp-for="Content"></label>
                        <i class="fas fa-angle-down"></i>
                    </a>
                </div>
                <div id="collapseThree31" class="collapse" role="tabpanel" aria-labelledby="headingThree31"
                     data-parent="#accordionEx1">
                    <div class="form-group">
                        <textarea id="edit" name="content" class="form-control">
                        @if (!String.IsNullOrWhiteSpace(Model.Content))
                        {
                            @Html.Raw(Model.Content)
                        }
                    </textarea>
                    </div>
                </div>
            </div>
            <!-- Accordion wrapper -->
        </div>
        <div class="card-footer p-0">
            <div class="text-center">
                <div class="btn-group">
                    <button class="btn btn-primary btn-sm" type="submit">Save</button>
                    <a asp-action="Index" class="btn btn-info btn-sm">Cancel</a>
                </div>
            </div>
        </div>
    </div>


</form>

<div class="card">
    <div class="card-header d-flex flex-row justify-content-between">
        <h4>Parts</h4>

        <button id="addPart" class="btn btn-outline-success btn-rounded btn-sm">
            <i class="fas fa-plus fa-2x" aria-hidden="true"></i>
        </button>

    </div>
    <div class="card-body" id="partsWrapper">
        @if (Model != null || Model.Parts.Any())
        {
            foreach (var part in Model.Parts.OrderBy(p => p.Order))
            {
                @Html.Partial("EditSeminarPart", part)
            }

        }
    </div>
</div>

<!--modal window Part Editor-->
<div class="modal fade" id="centralModalFluidSuccessDemo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-fluid modal-notify modal-success" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading lead" id="modal-title"></p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>
            <!--/.Header-->
            <!--Body-->
            <form action="" method="post" id="saveSeminarPart">
                <div class="modal-body">
                    <input type="hidden" name="Id" id="new-part-id" value="0" />
                    <input type="hidden" name="SeminarId" id="parent-of-part" value="0" />
                    <div class="md-form mb-5">
                        <input type="text" name="Name" value="azaza" id="part-name" class="form-control">
                        <label for="Name">Part name</label>
                    </div>
                    <div class="md-form mb-5">
                        <input type="number" name="Order" value="0" id="part-order" class="form-control">
                        <label for="Order">Order</label>
                    </div>
                </div>
                <!--Footer-->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">save</button>
                    <button class="btn btn-outline-success waves-effect" data-dismiss="modal" data-toggle="modal">cancel</button>
                </div>
                <!--/.Footer-->
            </form>
            <!--/.Body-->
        </div>
        <!--/.Content-->
    </div>
</div>
<!--/.modal window Part Editor-->
<!--modal window Chapter Editor-->
<div class="modal fade" id="centralModalChapterEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fluid modal-notify modal-success" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading lead" id="chapter-modal-title"></p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>
            <!--/.Header-->
            <!--Body-->
            <form action="" method="post" id="saveSeminarChapter">
                <div class="modal-body">
                    <input type="hidden" name="Id" id="new-chapter-id" value="0" />
                    <div class="md-form mb-5">
                        <input type="text" name="chapter-name" value="azaza" id="chapter-name" class="form-control">
                        <label for="chapter-came">Part name</label>
                    </div>
                    <div class="md-form mb-5">
                        <input type="number" name="chapter-order" value="0" id="chapter-order" class="form-control">
                        <label for="chapter-order">Order</label>
                    </div>
                </div>
                <!--Footer-->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">save</button>
                    <button class="btn btn-outline-success waves-effect" data-dismiss="modal" data-toggle="modal">cancel</button>
                </div>
                <!--/.Footer-->
            </form>
            <!--/.Body-->
        </div>
        <!--/.Content-->
    </div>
</div>
<!--/.modal window Chapter  Editor-->

@section FooterScript
{
    <script type="text/javascript" src="~/lib/froala-wysiwyg-editor/js/froala_editor.pkgd.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/saveSeminarPart.js"></script>
    <script>
        $(function () {
            $('#edit').froalaEditor({
                imageUploadURL: '/FroalaApi/UploadImage',
                fileUploadURL: '/FroalaApi/UploadFile',
                imageManagerLoadURL: '/FroalaApi/LoadImages',
                imageManagerDeleteURL: "/FroalaApi/DeleteImage",
                imageManagerDeleteMethod: "POST",
                // Introduce the Video Upload Buttons
                videoInsertButtons: ['videoBack', '|', 'videoByURL', 'videoEmbed', 'videoUpload'],
                // Set the video upload URL.
                videoUploadURL: '/FroalaApi/UploadVideo',
                // Set request type.
                videoUploadMethod: 'POST'
            })
                // Catch image removal from the editor.
                .on('froalaEditor.image.removed',
                    function (e, editor, $img) {
                        $.ajax({
                            // Request method.
                            method: "POST",

                            // Request URL.
                            url: "/FroalaApi/DeleteImage",

                            // Request params.
                            data: {
                                src: $img.attr('src')
                            }
                        })
                            .done(function (data) {
                                console.log('image was deleted');
                            })
                            .fail(function (err) {
                                console.log('image delete problem: ' + JSON.stringify(err));
                            });
                    })
                // Catch image removal from the editor.
                .on('froalaEditor.video.removed',
                    function (e, editor, $vid) {
                        $.ajax({
                            // Request method.
                            method: "POST",

                            // Request URL.
                            url: "/FroalaApi/DeleteVideo",

                            // Request params.
                            data: {
                                src: $vid.attr('src')
                            }
                        })
                            .done(function (data) {
                                console.log('video was deleted');
                            })
                            .fail(function (err) {
                                console.log('video delete problem: ' + JSON.stringify(err));
                            });
                    })
                // Catch image removal from the editor.
                .on('froalaEditor.file.unlink',
                    function (e, editor, link) {
                        $.ajax({
                            // Request method.
                            method: "POST",

                            // Request URL.
                            url: "/FroalaApi/DeleteFile",

                            // Request params.
                            data: {
                                src: link.getAttribute('href')
                            }
                        })
                            .done(function (data) {
                                console.log('file was deleted');
                            })
                            .fail(function (err) {
                                console.log('file delete problem: ' + JSON.stringify(err));
                            });
                    });
        });
    </script>
}