@model Seminar
<!--Grid column-->

    <div class="col-lg-4 col-md-6 mb-4">
        <!--Card-->
        <div class="card h-100">

            <!--Card image-->
            <div class="view overlay">
                <img src="https://mdbootstrap.com/wp-content/uploads/2017/11/brandflow-tutorial-fb.jpg" class="card-img-top"
                     alt="">
                <a href="#" target="_blank">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Card content-->
            <div class="card-body d-flex flex-column justify-content-between">
                <!--Title-->
                <h4 class="card-title">@Model.Name</h4>
                <!--Text-->
                <p class="card-text">
                    @Model.Excerpt
                </p>
                <a class="btn btn-primary btn-md" asp-controller="Home" asp-action="Seminar" asp-route-slug="@Model.Slug">
                    More
                    <i class="fas fa-play ml-2"></i>
                </a>
            </div>

        </div>
        <!--/.Card-->
    </div>
<!--Grid column-->