@model IEnumerable<Seminar>
@{
    ViewData["Title"] = "TestSeminarApi";
}

<h1>TestSeminarApi</h1>

<button id="get_seminars">Get seminars</button>
<div id="seminar_wrapper">

</div>


@section Footer
{
    <script src="~/js/testSeminarApi.js"></script>
}