<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <!-- Font Awesome -->
   


   
</head>

<body class="grey lighten-3">
<main class="pt-5 mx-lg-5 admin-main">

    @RenderBody()
    
</main>

</body>
</html>