@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!--Main Navigation-->

        <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar admin-navbar">
        <div class="container-fluid">

            <!-- Collapse -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <!-- Left -->
                @await Html.PartialAsync("_Menu")

            </div>
        </div>
        @await Html.PartialAsync("_LoginView")

    </nav>
        <!-- Navbar -->
        <!-- Sidebar -->
        @await Html.PartialAsync("_Aside")
        <!-- Sidebar -->
<!--Main Navigation-->