<div class="sidebar-fixed position-fixed">

    <a class="logo-wrapper waves-effect" asp-controller="Home" asp-action="Index" asp-area="">
        <img src="https://mdbootstrap.com/img/logo/mdb-email.png" class="img-fluid" alt="">
    </a>

    <div class="list-group list-group-flush">
        <a class="list-group-item active waves-effect"
           asp-action="Index" asp-controller="HomeAdmin" asp-area="Admin">
            <i class="fas fa-chart-pie mr-3"></i>Dashboard
        </a>
        <a class="list-group-item list-group-item-action waves-effect"
           asp-action="Index" asp-controller="SeminarAdmin" asp-area="Admin">
            <i class="fas fa-user mr-3"></i>
            Seminars
        </a>
        <a class="list-group-item list-group-item-action waves-effect"
           asp-action="Users" asp-controller="HomeAdmin" asp-area="Admin">
            <i class="fas fa-user mr-3"></i>
            Users
        </a>
    </div>

</div>
<div class="toggles-sidebar-wrapper ">
    <button class="btn btn-primary " id="toggles-sidebar-btn">
        <i class="fa fa-2x fa-angle-right toggles-sidebar-icon toggles-sidebar-icon_active"></i>
        <i class="fa fa-2x fa-angle-left toggles-sidebar-icon"></i>
    </button>
</div>