<!--modal window Part Editor-->
<div class="modal fade" id="centralModalFluidSuccessDemo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-fluid modal-notify modal-success" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading lead" id="modal-title"></p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>
            <!--/.Header-->
            <!--Body-->
            <form action="" method="post" id="saveSeminarPart">
                <div class="modal-body">
                    <input type="hidden" name="Id" id="new-part-id" value="0" />
                    <input type="hidden" name="SeminarId" id="parent-of-part" value="0" />
                    <div class="md-form mb-5">
                        <input type="text" name="Name" value="" id="part-name" class="form-control" placeholder="new name">
                        <label for="Name">Part name</label>
                    </div>
                    <div class="md-form mb-5">
                        <input type="number" name="Order" value="0" id="part-order" class="form-control">
                        <label for="Order">Order</label>
                    </div>
                    <div class="md-form m-5">
                        <textarea id="part-content-editer" name="content" class="form-control"></textarea>
                    </div>
                </div>
                <!--Footer-->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">save</button>
                    <button class="btn btn-outline-success waves-effect" data-dismiss="modal" data-toggle="modal">cancel</button>
                </div>
                <!--/.Footer-->
            </form>
            <!--/.Body-->
        </div>
        <!--/.Content-->
    </div>
</div>
<!--/.modal window Part Editor-->