
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "_LayoutLogin";
}
<div class="bg-primary m-1 p-1 text-white">
    <h1>Access Denied</h1>
</div>
<a asp-action="Index" asp-controller="Home" class="btn btn-primary">Ok</a>