<ul class="navbar-nav mr-auto">

    <li class="nav-item active">
        <a class="nav-link waves-effect" asp-area="Admin" asp-controller="HomeAdmin" asp-action="Index">Admin Home</a>
    </li>

    <li class="nav-item">
        <a class="nav-link waves-effect" asp-action="Index" asp-controller="Home" asp-area="">Home</a>
    </li>

</ul>