<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

        <!-- Brand -->
        <a class="navbar-brand waves-effect" asp-controller="Home" asp-action="Index">
            <strong class="blue-text">MDB</strong>
        </a>

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Left -->
            @Html.Partial("Menu")

        </div>


        <div class="btn-group">
            @if (User?.Identity?.IsAuthenticated ?? false)
            {
                <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">LogOut</a>
            }
            else
            {
                <a asp-controller="Account" asp-action="Login" class="btn btn-primary">log in</a>
                <a asp-controller="Account" asp-action="Logup" class="btn btn-primary">log up</a>
            }

        </div>

    </div>
</nav>